{% extends 'base.html' %}
{% load static %}

{% block page_title%}
    <title>Confirm delete</title>
{% endblock %}

{% block content %}
    <div class="center">
        <form method="post" >
          {% csrf_token %}
            <p>Вы действительно хотите удалить "{{ object.title }}"?</p>
            <input class="btn btn-primary" style="width: 200px" type="submit" value="Ок" />
            <a class="btn btn-primary" style="width: 200px" href="{% url 'book_single' object.id %}">Отмена</a>
        </form>
  </div>
{% endblock %}