{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block page_title%}
    <title>Book Post</title>
{% endblock %}

{% block content %}
    <section class="site-section" id="next-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <form action="" method="POST" class="">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {% if form.instance.id %}
                                    <input type="submit" value="Обновить" class="btn btn-primary btn-md text-white" style="width: 200px">
                                    <a class="btn btn-primary" style="width: 200px" href="{% url 'orders_list' %}">Отмена</a>
                                {% else %}
                                    <input type="submit" value="Создать" class="btn btn-primary btn-md text-white" style="width: 200px">
                                {% endif %}
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}